@using FlowState.Components
@inherits FlowNodeBase
@using FlowState.Models

<FlowNode>
<div class="title">🔢 Number</div>
            <div class="body">
              <input type="number" class="input-box" draggable="false" value="0" placeholder="Enter value">
              <FlowSocket Name="Input"  Label="In" T="typeof(int)"/>
              <FlowSocket Name="Output"  Label="Out" Type="SocketType.Output" OuterColor="crimson" InnerColor="deeppink"/>
        </div>
</FlowNode>