@using FlowState.Components
@inherits FlowNodeBase
@using FlowState.Models

<FlowNode>
<div class="title">🔢 Number</div>
            <div class="body">
              <input type="number" class="input-box" draggable="false" value="0" placeholder="Enter value">
              <FlowSocket Name="OutputValue"  Label="Value"/>
              <FlowSocket Name="OutputValue"  Label="Value" Type="SocketType.Output"/>
        </div>
</FlowNode>