@using FlowState.Components
@inherits FlowNodeBase

<FlowNode>
<div class="title">🔢 Number</div>
            <div class="body">
              <input type="number" class="input-box" data-key="num:value" value="0" placeholder="Enter value">
              <flow-socket type="output" name="value" label="Value" data-type="number"></flow-socket>
        </div>
</FlowNode>