.flow-canvas {
    background-color: #fff;
    touch-action: none;
    user-select: none;
    overflow: hidden;
    position: relative;
}

.flow-grid {
    pointer-events: none;
    /* background shouldn’t block clicks */
    background-repeat: repeat;
}

.flow-content {
    pointer-events: auto;
    /* so child elements are interactive */
    transition: transform 0s;
    width: 100%;
    height: 100%;
}

.edges {
    position: absolute;
    pointer-events: none;
    /* so nodes can handle events */
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 1;
    inset: 0;
    /* Behind nodes */

    transform: translateZ(0);

}

.nodes {
    position: relative;
    z-index: 2;
    background: transparent;
}

.flow-selection-rectangle {
    border: 2px solid #4a90e2;
    background-color: rgba(74, 144, 226, 0.1);
}

.flow-selection {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
}