@using Microsoft.JSInterop
@inject IJSRuntime JS


<CascadingValue TValue="FlowCanvas" Value="this">
    <div @ref="canvasRef" class="@Class"
        style="width:@Width; height:@Height; overflow:hidden; position:relative; cursor:grab; @Style">

        <!-- Background grid -->
        @if (BackgroundContent != null)
        {
            @BackgroundContent
        }

        <!-- Movable content -->
        <div class="flow-content" @ref="flowContentRef" style="@ContentStyle">
            @if (Graph != null)
            {
                <div class="nodes">
                    @foreach (var nodeInfo in Graph.NodesInfo)
                    {
                        <CascadingValue TValue="FlowNodeBase" Value="@nodeInfo.Value.Instance">
                            <DynamicComponent Type="nodeInfo.Value.NodeType" @ref="nodeInfo.Value.Component"
                                Parameters="nodeInfo.Value.Parameters" />
                        </CascadingValue>
                    }
                </div>
                <svg class="edges" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">

                <FlowEdge IsTempEdge="true" Id="tempEdge" Graph="Graph" @ref="TempEdge"/>
                @foreach(var edgeInfo in Graph.EdgesInfo)
                {
                    <DynamicComponent Type="typeof(FlowEdge)" @ref="edgeInfo.Value.Component"
                         Parameters="edgeInfo.Value.Parameters"/>
                }
                </svg>
            }
        </div>
    </div>
</CascadingValue>