<div class="flow-node" id="@Node?.Id">
    @ChildContent
</div>


@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [CascadingParameter]
    public FlowNodeBase? Node { get; set; } //get the actual base node

}
<style>
.flow-node.selected {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
  border-radius: 4px;
}
</style>
