<div class="flow-node" id="@Node?.Id">
    @ChildContent
</div>


@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [CascadingParameter]
    public FlowNodeBase? Node { get; set; } //get the actual base node

}
<style>
    .flow-node.selected {
        box-shadow:
            0 8px 32px rgba(2, 6, 23, 0.6),
            0 0 0 2px rgba(124, 58, 237, 0.3),
            inset 0 1px 0 rgba(255, 255, 255, 0.05);
        border-color: #7c3aed;
    }
</style>