.flow-canvas {
    background-color: #fff;
    touch-action: none;
    user-select: none;
    overflow: hidden;
    position: relative;
}

.flow-grid {
    pointer-events: none; /* background shouldn’t block clicks */
    background-repeat: repeat;
}

.flow-content {
    pointer-events: auto; /* so child elements are interactive */
    transition: transform 0s;
}

.edges {
  position: absolute;
  inset: 0;
  pointer-events: none; /* so nodes can handle events */
  width: 100%; 
  height: 100%;
  overflow: visible;
  z-index: 1; /* Behind nodes */
  
  transform: translateZ(0);

}