@using FlowState.Components
@using FlowState.Models

@inherits FlowGroupNodeBase

<FlowNode Kind="@NodeKind" Class="group">

    <div class="title-container">
        <div class="title">📦 Group</div>
    </div>
    <div class="body">
        <p>Width: @Width</p>
        <p>Height: @Height</p>
    </div>

    

    <FlowResizeHandle/>
</FlowNode>

<style>
    .group {
        min-height: 300px !important;
        min-width: 300px !important;
        z-index: -1 !important;
    }


</style>