name: Deploy Blazor WASM to Netlify

on:
    push:
        branches: [main]

jobs:
    deploy-to-netlify:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Setup .NET Core SDK
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 10.0.x
                  
            - name: Publish Blazor WASM
              run: dotnet publish examples/FlowStateBlazorWasm/FlowStateBlazorWasm.csproj -c Release -o ./publish -p:GHPages=false

            - name: copy index.html to 404.html
              run: cp publish/wwwroot/index.html publish/wwwroot/404.html

            - name: Add _redirects file
              run: echo "/*  /index.html  200" > publish/wwwroot/_redirects

            - name: Deploy to Netlify
              uses: nwtgck/actions-netlify@v2.0
              with:
                  publish-dir: './publish/wwwroot'
                  production-branch: main
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  deploy-message: "Deploy from GitHub Actions"
                  enable-pull-request-comment: false
                  enable-commit-comment: true
              env:
                  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
